desktop/smileys/messaging-emoticon-map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="messaging-emoticon-map">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="emoticon" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="string" maxOccurs="unbounded">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string" />
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="file" type="xsd:string" use="required" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
